<a href="/prehistoric_creatures/new">New</a><br>
<ul>
    <% myCreatures.forEach((creature, idx) => { %>
        <a href="/prehistoric_creatures/ <%= idx %>">
            <li><%= creature.type %><br>
                <img src="<%= creature.img_url %>" alt="Creature Picture">
            </li>
        </a>
    <% }); %>
</ul>