<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Type</label>
    <input id="createrType" type="text" name="type">
  
    <label for="createrImg">Image URL</label>
    <input id="createrImg" type="text" name="img_url">
    <!-- name is the one that is shown in the object
    name has to match the column that we want to add it in -->
    
    <input type="submit">
</form>