<form method="POST" action="/dinosaurs">
    <label for="dinosaurType">Type</label>
    <input id="dinosaurType" type="text" name="type">
  
    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name">
    <!-- name is the one that is shown in the object
    name has to match the column that we want to add it in -->
    
    <input type="submit">
</form>